body {
  background: skyblue;
  margin: 0;
  overflow: hidden; /* Prevent horizontal scrolling */
}



.light {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  bottom: 295px;
  position: absolute;
  z-index: 10;
  left: 20px;
  animation: light 800ms ease-in-out 0s infinite alternate;
}

.cloud {
  position: absolute;
  top: 0px;
  right: -500px;
  opacity: .8;
  animation: cloud 10s linear 0s infinite reverse;
  z-index: 99;
}

.aircraft {
  position: absolute;
  bottom: 0; /* Position aircraft at the bottom of the page */
  left: -100px; /* Start aircraft outside the viewport */
  animation: taxi 5s linear forwards, takeoff 2s linear forwards 5s;
  z-index: 101; /* Ensure aircraft is above runway */
}

@keyframes light {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes cloud {
  from {right: -500px;}
  to {right: 102%;}
}
